<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shijingfeng.background_service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <!-- 应用更新服务 虽然是单独的进程，但杀死App时该进程也会被杀死
         格式 :app_update (进程名: applicationId:app_update)
             .app_update (必须加.) (进程名: .app_update)
         -->
        <service android:name=".service.AppUpgradeService"
            android:process=".app_upgrade"/>

        <!--
        移除 WorkManger默认使用ContentProvider初始化, 使用自定义初始化,
        采用ContentProvider初始化, 就不用在 Application中初始化和传入Context了
        -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:directBootAware="false"
            android:exported="false"
            android:multiprocess="true"
            tools:node="remove" />

    </application>
</manifest>